@{
    ViewBag.Title = "Parolamı Unuttum";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Lütfen şifrenizi sıfırlamak için e-postanızı kontrol edin.
    </p>
</div>
	
